.p-success {
    background-image: url("../../img/BG/BG.jpg");
    .s-success {
        margin: 100px 0;
        .s_frame {
            @include flexBox(center);
            gap: 20px;
            margin-bottom: 30px;
            h3 {
                font-family: $ff-primary;
                margin: 0;
                font-size: $fs-36;
                text-transform: uppercase;
            }
            i {
                font-size: $fs-44;
                color: green;
            }
            .s_thanks {
                font-size: $fs-18;
                font-weight: $fw-300;
                color: $color-tertiary;
            }
        }

        .s_product {
            border-collapse: collapse;
            width: 100%;
            tr {
                th {
                    font-family: $ff-primary;
                    font-size: $fs-20;
                    padding: 20px 0;
                    padding-left: 20px;
                }
            }
            tr {
                td {
                    padding: 20px 0;
                    padding-left: 20px;
                    color: $color-tertiary;
                    font-size: $fs-18;
                    font-weight: $fw-300;
                }
            }
            thead {
                tr {
                    th {
                        width: 25%;
                        background-color: $color-primary;
                        color: $color-white;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        padding: 20px 0;
                        padding-left: 20px;
                        color: $color-tertiary;
                        font-size: $fs-18;
                        font-weight: $fw-300;
                        border: 0.5px solid $color-tertiary;
                        border-left: transparent;
                        border-right: transparent;
                        background-color: $color-white-90;
                    }
                }
            }
            tfoot {
                tr {
                    width: 100%;
                    th {
                        border: 0.5px solid $color-tertiary;
                        border-left: transparent;
                        border-right: transparent;
                    }
                    td {
                        border: 0.5px solid $color-tertiary;
                        border-left: transparent;
                        border-right: transparent;
                    }
                    .s_price {
                        color: $color-secondary;
                        font-weight: $fw-400;
                    }
                }
            }
            @media (max-width: 600px) {
                overflow-x: auto;
                tr {
                    th {
                        font-size: $fs-16;
                    }
                }
            }

            .s_title {
                font-family: $ff-primary;
                text-transform: uppercase;
                padding: 10px 0;
                // margin-bottom: 20px;
            }
            .s_info {
                tbody {
                    tr {
                        border: 0.5px solid $color-tertiary;
                        border-left: transparent;
                        border-right: transparent;
                        th {
                            width: 30%;
                            font-family: $ff-primary;
                        }
                        td {
                            width: 70%;
                            font-size: $fs-18;
                            color: $color-tertiary;
                            font-weight: 300;
                            padding: 12px 0;
                        }
                        &:first-child {
                            border: none;
                        }
                        &:last-child {
                            border: none;
                        }
                    }
                }
            }
            .c-btn-2 {
                width: 100%;
                margin-top: 20px;
                .c_btn-1,
                .c_btn-2 {
                    font-size: $fs-14;
                }
            }
        }
    }
}
