.c-opening {
    @include flexBox(center, between);
    h1 {
        font-family: $ff-primary;
        color: $color-primary;
    }
    .c_ava {
        @include flexBox(center);
        gap: 10px;
        background-color: $color-primary;
        padding: 10px 15px;
        border-radius: 100px;
        p {
            color: white;
        }
        img {
            width: 32px;
            filter: brightness(0) invert(1);
        }
    }
}
